.body{
  background-image: url(image/hero.jpg);
  font-family: 'Lato', sans-serif;
  }
.heading{
margin-left: 40px;
}
.blog{
  font-size: 140%;
  color: black;
  margin-left: 500px;
}
.blog a{
  text-decoration: none;
  color: black;
  font-size: bold;
  font-size: 120%;
}
.date{
  margin-left: 1000px;
}
.subheading{
  margin-left: 500px;
  position: relative;
  top: -50px;
  font-size: 190%;
}
.footer{
  margin-left: 1000px;
  font-size: 180%;
}
